In [4]:
import pandas as pd
df = pd.read_csv("day 1 bioinformatics data to work on.csv")
df.head()

   MolLogP    MolWt  NumRotatableBonds  AromaticProportion  logS
0   2.5954  167.850                0.0                 0.0 -2.18
1   2.3765  133.405                0.0                 0.0 -2.00
2   2.5938  167.850                1.0                 0.0 -1.74
3   2.0289  133.405                1.0                 0.0 -1.48
4   2.9189  187.375                1.0                 0.0 -3.04

In [5]:
df.tail()

      MolLogP    MolWt  NumRotatableBonds  AromaticProportion   logS
1139  1.98820  287.343                8.0            0.000000  1.144
1140  3.42130  286.114                2.0            0.333333 -4.925
1141  3.60960  308.333                4.0            0.695652 -3.893
1142  2.56214  354.815                3.0            0.521739 -3.790
1143  2.02164  179.219                1.0            0.461538 -2.581

In [7]:
df.shape

(1144, 5)

In [8]:
df.columns

Index(['MolLogP', 'MolWt', 'NumRotatableBonds', 'AromaticProportion', 'logS'], dtype='object')

In [9]:
df.dtypes

MolLogP               float64
MolWt                 float64
NumRotatableBonds     float64
AromaticProportion    float64
logS                  float64
dtype: object

In [11]:
df.describe()

,MolLogP,MolWt,NumRotatableBonds,AromaticProportion,logS
count,1144.000000,1144.000000,1144.000000,1144.000000,1144.000000
mean,2.449133,204.631675,2.173951,0.364932,-3.057997
std,1.866003,102.620500,2.627398,0.343305,2.096502
min,-7.571400,16.043000,0.000000,0.000000,-11.600000
25%,1.414900,122.126000,0.000000,0.000000,-4.332250
50%,2.340300,183.594500,1.000000,0.375000,-2.870500
75%,3.406475,270.715750,3.000000,0.666667,-1.600000
max,10.388600,780.949000,23.000000,1.000000,1.580000

In [12]:
df.isnull().sum()

MolLogP               0
MolWt                 0
NumRotatableBonds     0
AromaticProportion    0
logS                  0
dtype: int64

In [13]:
df.AromaticProportion

0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
1139    0.000000
1140    0.333333
1141    0.695652
1142    0.521739
1143    0.461538
Name: AromaticProportion, Length: 1144, dtype: float64

In [14]:
df[['NumRotatableBonds','MolLogP']]

      NumRotatableBonds  MolLogP
0                   0.0  2.59540
1                   0.0  2.37650
2                   1.0  2.59380
3                   1.0  2.02890
4                   1.0  2.91890
...                 ...      ...
1139                8.0  1.98820
1140                2.0  3.42130
1141                4.0  3.60960
1142                3.0  2.56214
1143                1.0  2.02164

[1144 rows x 2 columns]