In [27]:
import pandas as pd
df = pd.read_csv("day 1 bioinformatics data to work on.csv")
df

      MolLogP    MolWt  NumRotatableBonds  AromaticProportion   logS
0     2.59540  167.850                0.0            0.000000 -2.180
1     2.37650  133.405                0.0            0.000000 -2.000
2     2.59380  167.850                1.0            0.000000 -1.740
3     2.02890  133.405                1.0            0.000000 -1.480
4     2.91890  187.375                1.0            0.000000 -3.040
...       ...      ...                ...                 ...    ...
1139  1.98820  287.343                8.0            0.000000  1.144
1140  3.42130  286.114                2.0            0.333333 -4.925
1141  3.60960  308.333                4.0            0.695652 -3.893
1142  2.56214  354.815                3.0            0.521739 -3.790
1143  2.02164  179.219                1.0            0.461538 -2.581

[1144 rows x 5 columns]

In [5]:
import pandas as pd

data = {
    "Gene_ID": ["BRCA1", "TP53", "EGFR", "MYC", "BCL2"],
    "Expression_Level_Control": [5.1, 3.2, 6.7, 4.4, 2.9],
    "Expression_Level_Treated": [7.3, 2.8, 8.1, 6.5, 3.1],
    "P_Value": [0.01, 0.05, 0.001, 0.03, 0.2]
}
df = pd.DataFrame(data)
df

  Gene_ID  Expression_Level_Control  Expression_Level_Treated  P_Value
0   BRCA1                       5.1                       7.3    0.010
1    TP53                       3.2                       2.8    0.050
2    EGFR                       6.7                       8.1    0.001
3     MYC                       4.4                       6.5    0.030
4    BCL2                       2.9                       3.1    0.200

In [6]:
df.head()

  Gene_ID  Expression_Level_Control  Expression_Level_Treated  P_Value
0   BRCA1                       5.1                       7.3    0.010
1    TP53                       3.2                       2.8    0.050
2    EGFR                       6.7                       8.1    0.001
3     MYC                       4.4                       6.5    0.030
4    BCL2                       2.9                       3.1    0.200

In [8]:
df.columns

Index(['Gene_ID', 'Expression_Level_Control', 'Expression_Level_Treated',
       'P_Value'],
      dtype='object')

In [10]:
df['Gene_ID']

0    BRCA1
1     TP53
2     EGFR
3      MYC
4     BCL2
Name: Gene_ID, dtype: object

In [11]:
df.head(3)

  Gene_ID  Expression_Level_Control  Expression_Level_Treated  P_Value
0   BRCA1                       5.1                       7.3    0.010
1    TP53                       3.2                       2.8    0.050
2    EGFR                       6.7                       8.1    0.001

In [12]:
df.tail

<bound method NDFrame.tail of   Gene_ID  Expression_Level_Control  Expression_Level_Treated  P_Value
0   BRCA1                       5.1                       7.3    0.010
1    TP53                       3.2                       2.8    0.050
2    EGFR                       6.7                       8.1    0.001
3     MYC                       4.4                       6.5    0.030
4    BCL2                       2.9                       3.1    0.200>

In [14]:
df[1:4]

  Gene_ID  Expression_Level_Control  Expression_Level_Treated  P_Value
1    TP53                       3.2                       2.8    0.050
2    EGFR                       6.7                       8.1    0.001
3     MYC                       4.4                       6.5    0.030

In [15]:
df.Gene_ID

0    BRCA1
1     TP53
2     EGFR
3      MYC
4     BCL2
Name: Gene_ID, dtype: object

In [19]:
df[['Gene_ID','P_Value','Expression_Level_Control']]

  Gene_ID  P_Value  Expression_Level_Control
0   BRCA1    0.010                       5.1
1    TP53    0.050                       3.2
2    EGFR    0.001                       6.7
3     MYC    0.030                       4.4
4    BCL2    0.200                       2.9

In [24]:
df.describe()

       Expression_Level_Control  Expression_Level_Treated   P_Value
count                  5.000000                  5.000000  5.000000
mean                   4.460000                  5.560000  0.058200
std                    1.537205                  2.451122  0.081494
min                    2.900000                  2.800000  0.001000
25%                    3.200000                  3.100000  0.010000
50%                    4.400000                  6.500000  0.030000
75%                    5.100000                  7.300000  0.050000
max                    6.700000                  8.100000  0.200000

In [25]:
df['Expression_Level_Control'].max

<bound method Series.max of 0    5.1
1    3.2
2    6.7
3    4.4
4    2.9
Name: Expression_Level_Control, dtype: float64>